.box{
    position: sticky !important;
    top: 0;
    z-index: 2;
}
.profile{
    height: 60px;
    border: 1px solid black;
    border-radius:50%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.profile img{
    height: 60px;
    width: 60px;
     border-radius:50%;
}
.leftSection{
    display: flex;
    align-items: center;
    gap: 15px;
}
.opencard{
    background-color: white;
    height:400px;
    width: 350px;
    position: absolute;
    left:80px;
    top:15px;
    border: 1px solid black;
    border-radius: 10px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    word-break: break-word;  
    z-index: 1;
}
.opencard p{
    margin: 3px 0px;
}
.Image{
    height: 150px;
    width:100%;
    border-radius: 50px;
    display: flex;
    justify-content: center;   
}
.Image img{
    height: 150px;
    width:150px;
    object-fit:cover;
    border-radius: 10px;  
}
.logout{
    width: 50%;
}
.notFound{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
/* .DashboardMain{
    background-color:rgb(255, 150, 150);
} */
