*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    display: flex;
    min-height: 105vh;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}
.form{
    width: 400px;
    padding: 25px;
    background-color: #fff;
    border-radius:10px;
    box-shadow: 5px 30px 15px gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.heading{
    text-align: center;

}
.form input{
    padding: 10px;
    border:1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.error{
    margin: 0px;
    color: red;
    font-size: 14px;
    min-height: 18px;
}
.btn{
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2b92ff;
    color: white;
    font-size: 16px;
    margin-bottom: 25px;
}
.btn:hover{
    background-color:#0d6ed6ea;
}
.DisplayMessage{
    margin:0px;
    text-align: center;
}
.HaveAccount{
    text-align: center;
}
/* .heading{
   
}
.form{
    width: 300px;
    background-color: rgb(91, 216, 91);

}
.form input{ 
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.btn{
    margin: 15px;
    height: 30px;
    width: 30%;
    border-radius: 5px;
    border: none;
}
.error{
    color: red;
  
} */